<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>FileList</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
</head>
<body>

<div class="layui-fluid">
    <nav class="layui-nav">
        <div class="layui-nav-item">
            <p class="layui-nav-title" style="font-size: larger">
                欢迎：<span th:if="${session.user!=null}" th:text="${session.user.username}"/>
            </p>
        </div>
        <div class="layui-nav-item" style="float: right;">
            <button class="layui-btn">
                <a th:href="@{/user/logout}" style="font-size: larger; padding: 0px; color: white">login out</a>
            </button>
        </div>
        <div class="layui-nav-item" style="float: right; padding-right: 20px">
            <button type="button" class="layui-btn" id="fileUpload">
                <i class="layui-icon"></i>上传文件
            </button>
        </div>
    </nav>

    <table id="fileList" lay-filter="fileTable"></table>

    <script type="text/html" id="optBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="download">下载</a>
        <a class="layui-btn layui-btn-xs" lay-event="preview">预览</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    </script>

</div>

<script th:src="@{/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script th:inline="none">
    layui.use(['upload', 'table'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , table = layui.table;

        //普通图片上传
        //指定允许上传的文件类型
        upload.render({
            elem: '#fileUpload'
            , url: '/fileStorage/file/upload' //改成您自己的上传接口
            , accept: 'file' //普通文件
            , done: function (res) {
                layer.msg(res.msg);
                if (res.code == 0) {
                    setTimeout(function () {
                        window.location.href = res.url;
                    }, 2000);
                } else {
                    alert("上传失败");
                }
            }
        });

        //使用方法渲染表格
        table.render({
            elem: '#fileList',
            height: 640,
            minWidth: 80,
            url: '/fileStorage/file/all',
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": "",
                    "count": res.count,
                    "data": res.data,
                };
            },
            method: 'post',
            limit: 10,
            page: true,
            cols: [[
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'fileName', title: '文件名'},
                {field: 'ext', title: '文件后缀'},
                {field: 'path', title: '存储路径'},
                {field: 'size', title: '大小'},
                {field: 'type', title: '类型'},
                {field: 'downloadCounts', title: '下载次数'},
                {field: 'uploadTime', title: '上传时间'},
                {title: '操作', align: 'center', toolbar: '#optBar', width: 200, fixed: 'right'}
            ]]
        });

        //监听工具条
        table.on('tool(fileTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'download') {
                window.open("/fileStorage/file/download/" + data.id);
                obj.update({
                    "downloadCounts": data.downloadCounts + 1
                });
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除文件吗？', function (index) {
                    $.ajax({
                        url: "/fileStorage/file/delete/" + data.id,
                        type: "Get",
                        success: function (res) {
                            layer.msg(res.msg);
                            obj.del();
                        },
                        error: function (res) {
                            $.message.alert('msg', res.msg);
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'preview') {
                // window.open("/fileStorage/file/preview/" + data.id);
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    title: '文件预览',
                    closeBtn: 1, //显示关闭按钮
                    anim: 2,
                    area: ['893px', '600px'],
                    shadeClose: true, //开启遮罩关闭
                    content: '/fileStorage/file/preview/' + data.id
                });
            }
        });
    })

</script>

</body>
</html>