<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhao.mapper.EmployeeMapper">
    <!--
    自定义某个javaBean的封装规则
    type：自定义规则的Java类型
    id:唯一标示id，方便引用
    -->
    <!--    <resultMap id="departmentMap" type="Department">-->
    <!--        <id column="id" property="id"/>-->
    <!--        <result column="name" property="name"/>-->
    <!--    </resultMap>-->
    <!--联合查询：级联属性封装结果集-->
    <!--
    指定主键列的封装规则
    id定义主键会底层有优化；
    column：指定哪一列
    property：指定对应的javaBean属性
    -->
    <resultMap id="EmployeeMap" type="Employee">
        <id column="id" property="id"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="birth" property="birth"/>
        <association property="department" javaType="Department">
            <id property="id" column="did"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="queryEmployeeList" resultMap="EmployeeMap">
        select e.id ,last_name,email,gender,birth,d.did,d.name
        from employee e,department d
        where e.department_id = d.did
    </select>
    <select id="queryEmployeeById" resultMap="EmployeeMap">
        select e.id,last_name,email,gender,birth,d.did,d.name
        from employee e,department d
        where e.id=#{id} and e.department_id = d.did
    </select>
    <update id="updateEmployee" parameterType="Employee">
        update employee set last_name=#{lastName}, email=#{email}, birth=#{birth} where id=#{id}
    </update>
    <insert id="addEmployee" parameterType="Employee">
        insert into employee (id, last_name, gender, email, birth, department_id) values (#{id},#{lastName},#{gender},#{email},#{birth},${department.id})
    </insert>
    <delete id="deleteEmployee" parameterType="int">
        delete from employee where id=#{id}
    </delete>
</mapper>