<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhao.springbootdata.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from userinfo
    </select>

    <select id="queryUserById" resultType="User">
        select * from userinfo where id = #{id}
    </select>

    <insert id="addUser" parameterType="User">
        insert into userinfo (id,username,password) values(#{id},#{username},#{password})
    </insert>

    <update id="updateUser" parameterType="User">
        update userinfo set username=#{username},password=#{password} where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from userinfo where id=#{id}
    </delete>
</mapper>